mixin entry(entry)
  .box.dl-entry(id=entry.created_at.getTime())
    article.media
      .media-left
        .content
          .dl-entry-result.title.is-1.has-text-centered #{entry.result}
      .media-content
        .content
          if entry.message && entry.message.length
            blockquote.dl-entry-message.has-text-weight-semibold #{entry.message}
          else
            div.dl-entry-message
          .level.dl-entry-bottom
            .level-left
              .level-item
                div.tag.is-info.is-monospace #{entry.roll}
            .level-right
              .level-item
                div.is-size-7.has-text-grey.has-text-right
                  span #{entry.created_at}
                  a(href=`/${entry.log_id}#${entry.created_at.getTime()}`).has-text-grey
                    span.icon
                      i.fas.fa-share-square
