mixin entry(entry, moment)
  .box.dl-entry(id=entry.created_at.getTime())
    article.media
      .media-left
        .content
          .dl-entry-result.title.is-1.has-text-centered #{entry.result}
          .has-text-centered: .tag.is-info.is-monospace #{entry.roll}
      .media-content
        .content
          if entry.message && entry.message.length
            blockquote.dl-entry-message.has-text-weight-semibold #{entry.message}
          else
            blockquote.dl-entry-message.has-text-grey-light: i No message provided.
          div.is-size-7.has-text-grey.has-text-right
            // span #{entry.created_at.toLocaleDateString()} #{entry.created_at.toLocaleTimeString('en-US', { hour12: true })}
            span.dl-log-name
              if entry.name && entry.name.length
                a(href=`/${entry.log_id}`).has-text-grey: strong #{entry.name}
              else
                a(href=`/${entry.log_id}`).has-text-grey Anonymous Log
              |  – 
            span #{moment(entry.created_at).fromNow()}
            a(href=`/${entry.log_id}#${entry.created_at.getTime()}`).has-text-grey
              span.icon
                i.fas.fa-share-square
